@import "tailwindcss";

:root {
  --background: #eeeeee;
  --text: #222831;
  --primary: #00adb5;
  --secondary: #393e46;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-poppins), sans-serif;
}
